/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

.center {
  text-align: center;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-success {
	color:teal!important;
}

.font { 
  font: 400 100px/0.8 'Cookie', Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px black;
}

.font2 { 
  font: 400 100px/0.8 'Cookie', Helvetica, sans-serif;
  font-size: 34px;
  color: black;
}

.bg-dark {
	background-color:lightcoral!important;
}

.bg-danger {
	background-color:powderblue!important;
}

.block {
  background-color: powderblue;
  color: black;
  margin: 20px;
  padding: 10px;
}

.sticky {
  position: sticky;
  background: white;
  top: 0;
  padding: 50px;
}
#signature {
  text-align: right;
  color: teal;
  font-style: italic;
  font-size: 75%;
}